[submodule "storefront-reference-architecture"]
	path = storefront-reference-architecture
	url = git@github.com:estebanMex/storefront-reference-architecture.git
[submodule "app_custom_theme"]
	path = app_custom_theme
	url = git@github.com:estebanMex/app_custom_theme.git
[submodule "page-designer-reference"]
	path = page-designer-reference
	url = git@github.com:estebanMex/page-designer-reference.git
