{
    "username": "USERNAME",
    "password": "PASSWORD@1",
    "hostname": "HOSTNAME.demandware.net",
    "version": "VERSION_0001",
    "code-version": "VERSION_ERIOS_002",
    "verbose": false,
    "exclude": ["**/node_modules/**"]
}